.idea
./__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.DS_Store
init_model/
*.tar.gz
test_local/
RapidASR
export/*
*.pyc
.eggs
MaaS-lib
.gitignore
.egg*
dist
build
funasr.egg-info
docs/_build
modelscope
samples
.ipynb_checkpoints
outputs*
emotion2vec*
GPT-SoVITS*
modelscope_models
examples/aishell/llm_asr_nar/*
*egg-info
env/


.vscode/settings.json

examples/aishell/DATA/
*/DATA/*

zoro/logs/*
zoro/*.wav
zoro/__pycache__/*

server/__pycache__/*